.body {
    background-color: white;
}

.searchwindow{
    background-color: teal;
    position: fixed;
    width: 100%;
    position: fixed;

}

.searchbar{
    
}

.button{

}

.footer{
    bottom: 0;
    width: 100%;
    background-color:white;
    text-align: center;
    position: fixed;
}

.box1{
    background: chartreuse;
}

.box2{

}

.box3{

}

.box4{

}

